<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat Widget</title>

    <!--图标库-->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

    <!-- 默认样式-->
    <link rel="stylesheet" href="/static/css/reset.min.css">

    <!-- 主要样式-->
    <link rel="stylesheet" href="/static/css/style.css">


</head>

<body>

<div class="container clearfix">
    <div class="people-list" id="people-list">
        <div class="search">
            <input type="text" placeholder="search"/>
            <i class="fa fa-search"></i>
        </div>
        <ul class="list">
            <li class="clearfix on-check" id="anan" onclick="changeBot('anan')">
                <img src="/static/img/bdzc.jpeg" alt="avatar"/>
                <div class="about">
                    <div class="name">霸道总裁阿南</div>
                    <div class="status">
                        <i class="fa fa-circle online"></i> online
                    </div>
                </div>
            </li>

            <li class="clearfix" id="agen" onclick="changeBot('agen')">
                <img src="/static/img/jszn.jpeg" alt="avatar"/>
                <div class="about">
                    <div class="name">绝世渣男阿根</div>
                    <div class="status">
                        <i class="fa fa-circle offline"></i> left 2 mins ago
                    </div>
                </div>
            </li>

            <li class="clearfix" id="ayin" onclick="changeBot('ayin')">
                <img src="/static/img/jsws.jpeg" alt="avatar"/>
                <div class="about">
                    <div class="name">举世无双阿银</div>
                    <div class="status">
                        <i class="fa fa-circle online"></i> online
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="chat">
        <div class="chat-header clearfix" id="info_area">
            <img src="/static/img/bdzc.jpeg" alt="avatar" id="chat-about-img"/>

            <div class="chat-about">
                <div class="chat-with">霸道总裁阿南</div>
                <div class="chat-num-messages bot-desc">呵，我还从来没有尝试过被拒绝的滋味呢</div>
            </div>
            <i class="fa fa-star"></i>
        </div>
        <!-- end chat-header -->

        <div class="chat-history">
            <ul>
                <!--li class="clearfix">
                    <div class="message-data align-right">
                        <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
                        <span class="message-data-name">Zhang J.F</span> <i class="fa fa-circle me"></i>

                    </div>
                    <div class="message other-message float-right">
                        简单的介绍一下自己呗
                    </div>
                </li-->

                <li>
                    <div class="message-data">
                        <span class="message-data-name"><i class="fa fa-circle online"></i> 霸道总裁阿南</span>
                        <span class="message-data-time">10:12 AM, Today</span>
                    </div>
                    <div class="message my-message">
                        呵，你已经成功引起了我的注意
                    </div>
                </li>

            </ul>

        </div>
        <!-- end chat-history -->

        <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>

            <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
            <i class="fa fa-file-image-o"></i>

            <button>Send</button>

        </div>
        <!-- end chat-message -->

    </div>
    <!-- end chat -->
</div>
<footer>
    <div style="text-align: center; color: white; margin-top: 15px">
        <ul>
            <li>
                <a href="https://www.cnblogs.com/wwzhen/" style="color: white">powered by: wwzhen</a>
                <a href="https://https://github.com/wwzhen/bot_chat" style="color: white; margin-left: 20px">github</a>
            </li>
        </ul>
    </div>
    <p style="text-align: center">
        Copyright wwzhen. All Rights Reserved.
    </p>
</footer>
<!-- end container -->

<script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time">{{ time }}, Today</span> &nbsp; &nbsp;
            <span class="message-data-name">划水大王</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{ messageOutput }}
        </div>
    </li>
</script>

<!--这一块回答问题-->
<script id="message-response-template" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> {{ bot_name }}</span>
            <span class="message-data-time">{{ time }}, Today</span>
        </div>
        <div class="message my-message" data-state="{{ state }}">
            {{ response }}<img src="{{ imgurl }}" class="myimg">
        </div>
    </li>
</script>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
<script type="text/javascript" src='/static/js/handlebars.min.js'></script>
<script type="text/javascript" src='/static/js/list.min.js'></script>
<script type="text/javascript" src="/static/js/script.js"></script>
<script>
    L2Dwidget.init({
        "model": {
            jsonPath:
                "https://unpkg.com/live2d-widget-model-miku@1.0.5/assets/miku.model.json",
            "scale": 1
        }, "display": {
            "position": "left", "width": 150, "height": 300,
            "hOffset": 0, "vOffset": -20
        }, "mobile": {"show": true, "scale": 0.5},
        "react": {"opacityDefault": 0.7, "opacityOnHover": 0.2}
    });
</script>
</body>

</html>